### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import os

# File to Load (Remember to Change These)
file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
file_df = pd.read_csv(file)
file_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
file_df.isnull().any()

Purchase ID    False
SN             False
Age            False
Gender         False
Item ID        False
Item Name      False
Price          False
dtype: bool

In [3]:
file_df_renamed = file_df.rename(columns={"SN": "Player ID"})
file_df_renamed

,Purchase ID,Player ID,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [4]:
total_players = file_df_renamed["Player ID"].nunique()
total_players

576

## Player Count

* Display the total number of players

In [5]:
pd.DataFrame({"Total Players": [total_players]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
unique_items = file_df_renamed["Item ID"].nunique()
unique_items

avg_price = file_df_renamed["Price"].mean()
avg_price

purchase_num = file_df_renamed["Purchase ID"].count()
purchase_num

revenue = file_df_renamed["Price"].sum()
revenue

2379.77

In [59]:
summary_df = pd.DataFrame({"Number of Unique Items": [unique_items],
                          "Average Price": [avg_price],
                          "Number of Purchases": [purchase_num],
                          "Total Revenue": [revenue]})
summary_df["Average Price"] = summary_df["Average Price"].map("${:,.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].map("${:,.2f}".format)
summary_df.head()

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [80]:
total_df = file_df_renamed["Gender"].value_counts()
total_df

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [81]:
percentage_df = (total_df/df)*100
percentage_df

Male                     83.589744
Female                   14.487179
Other / Non-Disclosed     1.923077
Name: Gender, dtype: float64

In [82]:
gender_df = pd.DataFrame({"Count": total_df, "Percentage": percentage_df})
gender_df["Percentage"] = gender_df["Percentage"].map("{:,.2f}%".format)
gender_df

                       Count Percentage
Male                     652     83.59%
Female                   113     14.49%
Other / Non-Disclosed     15      1.92%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [83]:
female_df = file_df_renamed[file_df_renamed["Gender"] == "Female"]
female_df.head()

male_df = file_df_renamed[file_df_renamed["Gender"] == "Male"]
male_df.head()

others_df = file_df_renamed[file_df_renamed["Gender"] == "Other / Non-Disclosed"]
others_df.head()

,Purchase ID,Player ID,Age,Gender,Item ID,Item Name,Price
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39

In [84]:
grouped_gender = file_df_renamed.groupby(["Gender"])
print(grouped_gender)
grouped_gender.count().head(10)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f87ad112100>

                       Purchase ID  Player ID  Age  Item ID  Item Name  Price
Gender
Female                         113        113  113      113        113    113
Male                           652        652  652      652        652    652
Other / Non-Disclosed           15         15   15       15         15     15

In [85]:
avg_purchase = grouped_gender["Price"].mean()

total_purchase_by_gender = grouped_gender["Price"].sum()

purchase_count = grouped_gender["Purchase ID"].count()

avg_total_purchase_per_person = (total_purchase_by_gender / total_df)
avg_total_purchase_per_person

Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
dtype: float64

In [86]:
purchase_analysis = pd.DataFrame({"Purchase Count": purchase_count,
                                 "Average Purchase Price": avg_purchase,
                                 "Total Purchase Value": total_purchase_by_gender,
                                 "Avg Total Purchase per Person": avg_total_purchase_per_person})
purchase_analysis
#question: why the avg. total purchase per person is wrong?

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,3.203009
Male,652,3.017853,1967.64,3.017853
Other / Non-Disclosed,15,3.346000,50.19,3.346000

## Age Demographics

In [98]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

bins_name = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [99]:
file_df["Age Ranges"] = pd.cut(file_df["Age"], bins, labels=bins_name)
file_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Ranges
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [100]:
age_grouped = file_df.groupby(["Age Ranges"])
age_grouped

In [101]:
age_count = age_grouped["SN"].nunique()
#age_count
age_percent = (age_count / total_players) * 100
age_percent

Age Ranges
<10       2.951389
10-14     3.819444
15-19    18.576389
20-24    44.791667
25-29    13.368056
30-34     9.027778
35-39     5.381944
40+       2.083333
Name: SN, dtype: float64

In [103]:
age_df = pd.DataFrame({"Total Count": age_count,
                      "Percentage of Players": age_percent})
age_df["Percentage of Players"] = age_df["Percentage of Players"].map("{:.2f}%".format)
age_df

            Total Count Percentage of Players
Age Ranges
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  12                 2.08%

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame